{% extends "base.html" %}
{% block title %} Короткая ссылка YaCut {% endblock title %}
{% block content %}
  <main>
    <section class="container my-5 px-4">
      <h1 class="text-center"><span style="color:red">Го</span>тово!</h1>
      <p class="text-center my-4">
        Длинная ссылка:
        <a href="{{ urlmap.original }}">{{ urlmap.original }}</a>
      </p>
      <p class="text-center my-4">
        Короткая ссылка:
        <a href="{{ url_for('urlmap_view', id=urlmap.id, _external=True) }}">{{ url_for('urlmap_view', id=urlmap.id, _external=True) }}</a>
      </p>
    </section>
  </main>
{% endblock content %}